# Private key of the server's wallet. This wallet will receive ticket payments and send out the prize.
# It must be funded with ETH on Base Mainnet for gas fees.
PRIVATE_KEY=

# Coinbase Developer Platform API Keys for Mainnet Facilitator
CDP_API_KEY_ID=
CDP_API_KEY_SECRET=

# Port for the server to run on (Optional, defaults to 4025. Will be set by hosting provider like DigitalOcean)
# PORT=4025